
@{
   // var usuario = Session["Usuario"] as Aplicacao.Core.Dominio.Funcionario;

    var usuario = UI.Web.Helpers.UserLogin.GetUsuarioAdmin();

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>@ViewBag.Title | 4Beauty</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" type="text/css" href="~/Content/Admin/css/cloud-admin.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Admin/css/themes/default.css" id="skin-switcher">
    <link rel="stylesheet" type="text/css" href="~/Content/Admin/css/responsive.css">
    <!-- STYLESHEETS --><!--[if lt IE 9]><script src="~/Content/Admin/js/flot/excanvas.min.js"></script><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script><![endif]-->
    <link href="~/Content/Admin/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- ANIMATE -->
    <link rel="stylesheet" type="text/css" href="~/Content/Admin/css/animatecss/animate.min.css" />
    <!-- DATE RANGE PICKER -->
    <link rel="stylesheet" type="text/css" href="~/Content/Admin/js/bootstrap-daterangepicker/daterangepicker-bs3.css" />
    <!-- TODO -->
    <link rel="stylesheet" type="text/css" href="~/Content/Admin/js/jquery-todo/css/styles.css" />
    <!-- FULL CALENDAR -->
    <link rel="stylesheet" type="text/css" href="~/Content/Admin/js/fullcalendar/fullcalendar.min.css" />
    <!-- GRITTER -->
    <link rel="stylesheet" type="text/css" href="~/Content/Admin/js/gritter/css/jquery.gritter.css" />
    <!-- FONTS -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
    <!--Custom-->
    <link href="~/Content/Admin/css/custom.css" rel="stylesheet" />
    <!--Toast-->
    <link href="~/Content/Admin/toast/toastr.min.css" rel="stylesheet" />
    @RenderSection("css" , false)
</head>
<body>
    <!-- HEADER -->
    <header class="navbar clearfix" id="header">
        <div class="container">
            <div class="navbar-brand">
                <!-- COMPANY LOGO -->
                <a href="index.html">
                    <img src="~/Content/Admin/img/logo-branco-4beauty.png" alt="Cloud Admin Logo" class="img-responsive" height="30" width="120">
                 </a>
                <!-- /COMPANY LOGO -->
                <!-- TEAM STATUS FOR MOBILE -->
                <div class="visible-xs">
                    <a href="#" class="team-status-toggle switcher btn dropdown-toggle">
                        <i class="fa fa-users"></i>
                    </a>
                </div>
                <!-- /TEAM STATUS FOR MOBILE -->
                <!-- SIDEBAR COLLAPSE -->
                <div id="sidebar-collapse" class="sidebar-collapse btn">
                    <i class="fa fa-bars"
                       data-icon1="fa fa-bars"
                       data-icon2="fa fa-bars"></i>
                </div>
                <!-- /SIDEBAR COLLAPSE -->
            </div>
            <!-- BEGIN TOP NAVIGATION MENU -->
            <ul class="nav navbar-nav pull-right">
                <li class="dropdown user posicao-user-logado" id="header-user">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img alt="" src="@Href(UI.Web.Helpers.Caminho.Usuario() + usuario.Foto)" />
                        <span class="username">@usuario.Login</span>
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="@Url.Action("MeuPerfil","Home", new { id = usuario.FuncionarioId})"><i class="fa fa-user"></i> Meu Perfil</a></li>
                        <li><a href="@Url.Action("Logout","Login")"><i class="fa fa-power-off"></i> Log Out</a></li>
                    </ul>
                </li>
                <!-- END USER LOGIN DROPDOWN -->
            </ul>
            <!-- END TOP NAVIGATION MENU -->
        </div>
     
    </header>
    <!--/HEADER -->
    <!-- PAGE -->
    <section id="page">
        <!-- SIDEBAR -->
        <div id="sidebar" class="sidebar">
            <div class="sidebar-menu nav-collapse">
                <div class="divide-20"></div>
               
                <!-- /SEARCH BAR -->
                <!-- SIDEBAR QUICK-LAUNCH -->
                <!-- <div id="quicklaunch">
                <!-- /SIDEBAR QUICK-LAUNCH -->
                <!-- SIDEBAR MENU -->
                <ul>
                    <li class="">
                        <a href="@Url.Action("Index","Home")">
                            <i class="fa fa-tachometer fa-fw"></i> <span class="menu-text">Home</span>
                            <span class="selected"></span>
                        </a>
                    </li>

                    <li class="has-sub">
                        <a href="javascript:;" class="">
                            <i class="fa fa-pencil-square-o fa-fw"></i> <span class="menu-text">Gerenciar Cadastros</span>
                            <span class="arrow"></span>
                        </a>
                        <ul class="sub">
                            <li><a class="" href="@Url.Action("Index","Status")"><span class="sub-menu-text">Status</span></a></li>
                            <li><a class="" href="@Url.Action("Index","Funcionario")"><span class="sub-menu-text">Funcionário</span></a></li>
                            <li><a class="" href="@Url.Action("Index","Servico")"><span class="sub-menu-text">Serviço</span></a></li>
                            <li><a class="" href="@Url.Action("Index","Cliente")"><span class="sub-menu-text">Cliente</span></a></li>
                            <li><a class="" href="@Url.Action("Index","Produto")"><span class="sub-menu-text">Produto</span></a></li>
                        </ul>
                    </li>

                    <li class="has-sub">
                        <a href="javascript:;" class="">
                            <i class="fa fa-calendar-o fa-fw"></i> <span class="menu-text">Gerenciar Agendas</span>
                            <span class="arrow"></span>
                        </a>
                        <ul class="sub">
                            <li><a class="" href="@Url.Action("Index", "Agenda")"><span class="sub-menu-text">Todos os Agendamentos</span></a></li>
                            <li><a class="" href="@Url.Action("IndexAgenda","Agenda")"><span class="sub-menu-text">Agendas Múltiplas</span></a></li>
                        </ul>
                    </li>

                    <li class="has-sub">
                        <a href="javascript:;" class="">
                            <i class="fa fa-book fa-fw"></i> <span class="menu-text">Gerenciar Compra</span>
                            <span class="arrow"></span>
                        </a>
                        <ul class="sub">
                            <li><a class="" href="@Url.Action("Index", "Compra")"><span class="sub-menu-text">Compra de Produto</span></a></li>
                            <li><a class="" href="@Url.Action("Index", "CompraFiado")"><span class="sub-menu-text"> Serviço / Produto Fiado</span></a></li>
                           
                        </ul>
                    </li>

                    <li class="has-sub">
                        <a href="javascript:;" class="">
                            <i class="fa fa-home fa-fw"></i> <span class="menu-text">Meu Salão</span>
                            <span class="arrow"></span>
                        </a>
                        <ul class="sub">
                            <li><a class="" href="@Url.Action("Index","CategoriaFoto")"><span class="sub-menu-text">Categoria de Fotos</span></a></li>
                            <li><a class="" href="@Url.Action("Index","Foto")"><span class="sub-menu-text">Enviar Fotos</span></a></li>
                        </ul>
                    </li>
                 
                    
                </ul>
                <!-- /SIDEBAR MENU -->
            </div>
        </div>
        <!-- /SIDEBAR -->
        <div id="main-content">
            @RenderBody()
        </div>
</section>
    <!--/PAGE -->
    <!-- JAVASCRIPTS -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- JQUERY -->
    <script src="~/Content/Admin/js/jquery/jquery-2.0.3.min.js"></script>
    <!-- JQUERY UI-->
    <script src="~/Content/Admin/js/jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.min.js"></script>
    <!-- BOOTSTRAP -->
    <script src="~/Content/Admin/bootstrap-dist/js/bootstrap.min.js"></script>
    <!-- DATE RANGE PICKER -->
    <script src="~/Content/Admin/js/bootstrap-daterangepicker/moment.min.js"></script>

    <script src="~/Content/Admin/js/bootstrap-daterangepicker/daterangepicker.min.js"></script>
    <!-- SLIMSCROLL -->
    <script type="text/javascript" src="~/Content/Admin/js/jQuery-slimScroll-1.3.0/jquery.slimscroll.min.js"></script>
    <!-- SLIMSCROLL -->
    <script type="text/javascript" src="~/Content/Admin/js/jQuery-slimScroll-1.3.0/jquery.slimscroll.min.js"></script>
    <script type="text/javascript" src="~/Content/Admin/js/jQuery-slimScroll-1.3.0/slimScrollHorizontal.min.js"></script>
    <!-- BLOCK UI -->
    <script type="text/javascript" src="~/Content/Admin/js/jQuery-BlockUI/jquery.blockUI.min.js"></script>
    <!-- SPARKLINES -->
    <script type="text/javascript" src="~/Content/Admin/js/sparklines/jquery.sparkline.min.js"></script>
    <!-- EASY PIE CHART -->
    <script src="~/Content/Admin/js/jquery-easing/jquery.easing.min.js"></script>
    <script type="text/javascript" src="~/Content/Admin/js/easypiechart/jquery.easypiechart.min.js"></script>
    <!-- FLOT CHARTS -->
    <script src="~/Content/Admin/js/flot/jquery.flot.min.js"></script>
    <script src="~/Content/Admin/js/flot/jquery.flot.time.min.js"></script>
    <script src="~/Content/Admin/js/flot/jquery.flot.selection.min.js"></script>
    <script src="~/Content/Admin/js/flot/jquery.flot.resize.min.js"></script>
    <script src="~/Content/Admin/js/flot/jquery.flot.pie.min.js"></script>
    <script src="~/Content/Admin/js/flot/jquery.flot.stack.min.js"></script>
    <script src="~/Content/Admin/js/flot/jquery.flot.crosshair.min.js"></script>
    <!-- TODO -->
    <script type="text/javascript" src="~/Content/Admin/js/jquery-todo/js/paddystodolist.js"></script>
    <!-- TIMEAGO -->
    <script type="text/javascript" src="~/Content/Admin/js/timeago/jquery.timeago.min.js"></script>
    <!-- FULL CALENDAR -->
    <script type="text/javascript" src="~/Content/Admin/js/fullcalendar/fullcalendar.min.js"></script>
    <!-- COOKIE -->
    <script type="text/javascript" src="~/Content/Admin/js/jQuery-Cookie/jquery.cookie.min.js"></script>
    <!-- GRITTER -->
    <script type="text/javascript" src="~/Content/Admin/js/gritter/js/jquery.gritter.min.js"></script>
    <!-- CUSTOM SCRIPT -->
    <script src="~/Content/Admin/js/script.js"></script>
    <!--Toast e validar com Json-->
    <script src="~/Content/Admin/toast/toastr.min.js"></script>
    <script src="~/Content/Admin/toast/jquery.validate.min.js"></script>
    <script src="~/Content/Admin/toast/jqueryFormAjax.js"></script>
    <script src="~/Content/Admin/toast/formAjaxInit.js"></script>
    <!--MaskMoney-->
    <script src="~/Content/Plugin/maskMoney/maskmoney.min.js"></script>
    <script type="text/javascript">
    $(function () {
        //$('#valor').maskMoney({ prefix: 'R$ ', thousands: '.', decimal: ',' });
        $("#valor").maskMoney({ prefix: '', allowNegative: true, thousands: '.', decimal: ',', affixesStay: false });
       
    });
    </script>
    <!--Input Mask-->
    <script src="~/Content/Plugin/mascara/bootstrap-inputmask.min.js"></script>
  

    @RenderSection("js", false)

    <script>
        jQuery(document).ready(function () {
            App.setPage("index");  //Set current page
            App.init(); //Initialise plugins and elements
        });
    </script>
    <!-- /JAVASCRIPTS -->

    <script>
        function DeletarCompra(val) {
         return confirm("Deseja Deletar a compra deste Produto?")
        }
    </script>
  
    <!--MaskMoney-->
   

</body>
</html>
