@model Aplicacao.Core.Dominio.Funcionario
@{
    Layout = "../Shared/Layout.cshtml";
    var ListaServico = ViewBag.Servicos as IEnumerable<Aplicacao.Core.Dominio.Servico>;
    ViewBag.Title = "Funcionário";
    var Status = ViewBag.Status as List<Aplicacao.Core.Dominio.Status>;
}
@using (Html.BeginForm("Create", "Funcionario", FormMethod.Post, new { @class = "form-ajx" }))
{
    <div class="panel panel-white">
        <div class="panel-heading clearfix">
            <h4 class="panel-title">Cadastrar @ViewBag.TitulosForm</h4>
        </div>
        <div class="panel-body">
            <div class="box-inner">
                <div class="box-content">

                    <div class="form-group col-md-8">
                        <div class="editor-label">
                            @Html.LabelFor(model => model.Nome)
                        </div>
                        <div class="editor-field">
                            @Html.TextBoxFor(model => model.Nome, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => Model.Nome)
                        </div>
                    </div>

                    <div class="form-group col-md-4">
                        <div class="editor-label">
                            @Html.LabelFor(model => model.Status)
                        </div>
                        <div class="editor-field">
                            @Html.DropDownListFor(model => model.StatusId, new SelectList(Status, "StatusId", "Nome")  , new { @class = "form-control" })
                        </div>
                    </div>
                 
                    <div class="form-group col-md-12 ">
                        <div class="editor-label">
                            @Html.LabelFor(model => model.Endereco)
                        </div>
                        <div class="editor-field">
                            @Html.TextBoxFor(model => model.Endereco, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => Model.Endereco)
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <div class="editor-label">
                            @Html.LabelFor(model => model.Telefone)
                        </div>
                        <div class="editor-field">
                            @*@Html.TextBoxFor(model => model.Telefone, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => Model.Telefone)*@
                            <input type="text" name="Telefone" data-mask="(99)9 9999-9999" class="form-control"/>
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        <div class="editor-label">
                            @Html.LabelFor(model => model.Salario)
                        </div>
                        <div class="editor-field">
                            @*@Html.TextBoxFor(model => model.Salario, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => Model.Salario)*@
                            <input id="valor" type="text" name="Salario" class="form-control"/>
                        </div>
                    </div>


                    <div class="form-group col-md-4">
                        <div class="editor-label">
                            @Html.LabelFor(model => model.Login)
                        </div>
                        <div class="editor-field">
                            @Html.TextBoxFor(model => model.Login, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => Model.Login)
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <div class="editor-label">
                            @Html.LabelFor(model => model.Senha)
                        </div>
                        <div class="editor-field">
                            @Html.PasswordFor(model => model.Senha, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => Model.Senha)
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <div class="editor-label">
                            @Html.LabelFor(model => model.ConfirmarSenha)
                        </div>
                        <div class="editor-field">
                            @Html.PasswordFor(model => model.ConfirmarSenha, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => Model.ConfirmarSenha)
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-md-2 control-label">Carregar Foto</label>
                            <div class="col-md-8">
                                <div class="fileupload fileupload-new" data-provides="fileupload">
                                    <div class="input-group">
                                        <div class="form-control uneditable-input">
                                            <img class="img-responsive" id="output"/>
                                        </div>
                                        <div class="input-group-btn">
                                            <a class="btn btn-default btn-file">
                                                <span class="fileupload-new">Selecione uma</span>
                                                <span class="fileupload-exists">Foto</span>

                                                <input type="file" accept="image/*" onchange="loadFile(event)" name="file" class="file-input" />
                                            </a>
                                            <a href="#" class="btn btn-danger fileupload-exists" data-dismiss="fileupload">Remove</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="form-group col-md-6">
                        <div class="editor-label">
                            @Html.LabelFor(model => model.Email)
                        </div>
                        <div class="editor-field">
                            @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => Model.Email)
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        <div class="editor-label">
                            @Html.LabelFor(model => model.Tipo)
                        </div>
                        <select name="Tipo" class="form-control">
                            <option value="Gerente">Gerente</option>
                            <option value="Funcionario">Funcionario</option>
                        </select>
                    </div>

                    <div class="form-group col-md-12">
                        <div class="editor-label">
                            Serviços
                        </div>
                        @foreach (var servico in ListaServico)
                        {
                        <div class="col-md-2"> <input type="checkbox" id="Servico" name="Servico" value="@servico.ServicoId">@servico.Nomeservico</div>
                        }
                    </div>

                    </div>

                    <div class="row">
                        <div class="col-md-8">
                            <button type="submit" class="btn btn-success btn-block">Salvar</button>
                        </div>
                        <div class="col-md-4">
                            @Html.ActionLink("Cancelar", "Index", "Funcionario", new object { }, new { @class = "btn btn-danger btn-block" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
}

@Scripts.Render("~/bundles/jqueryval")

<script type="text/javascript">
    var UrlDestino = '@Url.Action("Index")';
</script>

<script>
    var loadFile = function (event) {
        var output = document.getElementById('output');
        output.src = URL.createObjectURL(event.target.files[0]);
    };
</script>